/* General Styles */
body {
    font-family: 'Roboto Mono', monospace;
    margin: 1in;
    padding: 0;
    background-color: #000;
    color: #fff;
}

/* Header Styles */
header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Other Section Styles */
section {
    padding: 50px 20px;
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: red;
}

/* container for light switch icon*/
#light-switch-container {
    display: flex;
    align-items: center;
}

/* container for lightbulb symbol*/
#lightbulb {
    width: 24px;
    height: 24px;
    background-image: url('lightbulbs/darkbulb.png');
    background-size: cover;
    margin-right: 10px;
}

/* light switch style*/
#light-switch {
    width: 50px;
    height: 24px;
    transition: background-color .5s, color .5s;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: -3px;
}

/* style page light mode*/
.light-mode {
    background-color: #fff;
    color: black;
    transition: background-color .5s, color .5s; 
}

.light-mode header {
    background-color: #fff;
    color: black;
    transition: background-color .5s, color .5s; 
}

.light-mode nav ul a{
    background-color: #fff;
    color: black;
    transition: background-color .5s, color .5s; 
}

/* style page dark mode*/
.dark-mode {
    background-color: black;
    color: white;
    transition: background-color .5s, color .5s; 
}

.dark-mode header {
    background-color: black;
    color: white;
    transition: background-color .5s, color .5s; 
}

.dark-mode nav ul a{
    background-color: black;
    color: white;
    transition: background-color .5s, color .5s; 
}

/* Positioning and styling for tidbit */
.tidbit {
    width: 76%;
    padding: 50px;
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-left: -50px;
    line-height: 1.5;
    font-weight: lighter; 
    clear: both; 
}

/* Profile Image Styles */
.profile-image {
    float: left; 
    width: 200px; 
    height: auto; 
    margin-right: 20px; 
    padding-top: 25px;
}

/* About Me Section Styles */
#about-me {
    overflow: hidden; 
    padding-top: 0px; 
}

/* position behavior project cards*/
.project-container {
    display: flex; 
    align-items: flex-start;
    margin-bottom: 50px; 
}

/* deminsion for images*/
.project-image {
    float: left;
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
    position: relative; 
}

.project-description {
    flex: 1; 
}

.project-description h3 {
    margin-top: 0; 
    padding-top: 10px;
}
